*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin anchor($color) {
    text-decoration: none;
    color: $color;
}

#header{
    z-index: 999;
    position: sticky;
    top: 0;
    display: none;
    background-color: white;
    animation-name: headerAnimation;
    animation-duration: .7s;
    .container{
        padding: 1% 0 0.6% 0;
        .row{
            justify-content: flex-end;
            &__nav{
                display: flex;
                justify-content: center;
                align-items: center;
                &__links{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    ul{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        padding: 0;
                        margin: 0;
                        li{
                            margin: 0 13px 0 13px;
                        }
                        a{
                            @include anchor(black);
                        }
                    }
                }
            }

            &__other-features{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 22px;
            }
        }
    }
}

#header-2{
    position: absolute;
    width: 100%;
    z-index: 2;
    color: white;
    .container{
        padding: 1% 0 0.6% 0;
        .row{
            justify-content: flex-end;
            &__nav{
                display: flex;
                justify-content: center;
                align-items: center;
                &__links{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    ul{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        padding: 0;
                        margin: 0;
                        li{
                            margin: 0 13px 0 13px;
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                        }
                        .drone{
                            .drone-dropdown{
                                cursor: pointer;
                                padding: 8px 0 8px 0;
                                background-color: white;
                                width: 550px;
                                color: black;
                                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                                position: relative;
                                height: 130px;
                                display: none;
                                position: absolute;
                                top: 72%;
                                left: 36.9%;
                                .inside{
                                    display: flex;
                                    justify-content: space-around;
                                }
                            }
                        }
                        .accesories{
                            .accesories-dropdown{
                                cursor: pointer;
                                padding: 8px 0 8px 0;
                                background-color: white;
                                width: 350px;
                                color: black;
                                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                                position: relative;
                                height: 130px;
                                position: absolute;
                                top: 72%;
                                left: 41.4%;
                                display: none;
                                .inside{
                                    display: flex;
                                    justify-content: space-around;
                                }
                            }
                        }
                        li:hover a{
                            color: black
                        }
                        a{
                            @include anchor(white);
                            transition: .3s;
                        }
                    }
                }
            }

            &__other-features{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 22px;
                &__search{
                    .search-dropdown{
                        position: absolute;
                        right: 12.9%;
                        display: none;
                        input{
                            font-size: 15px;
                            outline: 0;
                            border: none;
                            width: 20vw;
                            height: 38px;
                            padding: 0 3% ;
                        }
                        i{
                            position: relative;
                            right: 34px;
                            color: black;
                        }
                        ::-webkit-input-placeholder{
                            color: rgb(182, 181, 181);
                            font-size: 18px;
                        }
                    }
                }
                &__user{
                    .user-dropdown{
                        cursor: pointer;
                        a{
                            text-decoration: none;
                            color: black;
                        }
                        padding: 20px;
                        position: absolute;
                        right: 12.9%;
                        background-color: white;
                        color: black;
                        font-size: 14px;
                        display: none;
                    }
                }
                i{
                    transition: .4s;
                }
                i:hover{
                    color: black;
                }
            }
        }
    }
}

#info-buy{
    .wrapper:hover .owl-prev{
        transform: scale(1);
    }
    .wrapper:hover .owl-next{
        transform: scale(1);
    }
    .wrapper{
        .owl-prev,.owl-next{
            background-color: #eb4d4b;
            width: 30px;
            height: 30px;
            color: white;
            transition: .7s;
            position: absolute;
            transform: scale(0);
        }
        .owl-prev:hover{
            background-color: black;
        }
        .owl-next:hover{
            background-color: black;
        }
        .owl-prev{
            left: 4%;
            top: 50%;
        }
        .owl-next{
            right: 4%;
            top: 50%;
        }
        .owl-dots{
            position: absolute;
            left: 48%;
            bottom: 3%;
            .owl-dot{
                span{
                    border-radius: 0;
                }
            }
        }
        [class*="content-wrapper"]{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex: 0 0 100%;
            scroll-snap-align: start;
            .content{
                width: 40%;
                color: white;
                h2{
                    font-size: 40px;
                }
                h1{
                    font-size: 80px;
                }
                .btn{
                    width: 125px !important;
                    border-radius: 20px !important;
                    font-size: 14px !important;
                    transition: .5s !important;
                }
                .btn:hover{
                    background-color: black !important;
                }
            }
        }
        .first-content-wrapper{
            background-image: url(https://demo.ishithemes.com/opencart/OPC100/OPC100L02/image/cache/catalog/slider/Slider-1-1920x925.png);
        }
        .second-content-wrapper{
            background-image: url(https://demo.ishithemes.com/opencart/OPC100/OPC100L02/image/cache/catalog/slider/Slider-2-1920x925.png);
            justify-content: flex-start;
            padding-left: 6%;
        }
    }
    .wrapper:hover .leftbtn{
        transform: scale(1);
    }
    .wrapper:hover .rightbtn{
        transform: scale(1);
    }
}

#services{
    padding: 4% 0 4% 0;
    background-color: #fcfcfc;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        .delivery,.buying,.personal-session,.gift-voucher{
            text-align: center;
            cursor: pointer;
        }
        
    }
}

.delivery-img{
    animation-name: none;
    animation-duration: .5s;
    animation-iteration-count: 1;
}
.buying-img{
    animation-name: none;
    animation-duration: .5s;
    animation-iteration-count: 1;
}
.personal-img{
    animation-name: none;
    animation-duration: .5s;
    animation-iteration-count: 1;
}
.gift-voucher-img{
    animation-name: none;
    animation-duration: .5s;
    animation-iteration-count: 1;
}


#main-product{
    padding: 5% 0 4% 0;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .info{
            &__product-info{
                &__subtitle{
                    letter-spacing: 10px;
                    h4{
                        font-size: 18px;
                        color: #eb4d4b;
                    }
                }
                &__title{
                    h2{
                        font-size: 42px;
                        font-weight: bold;
                    }
                }
                &__desc{
                    p{
                        color: #8e8e8e;
                    }
                }
                &__morebtn{
                    button{
                        border-radius: 30px;
                        width: 130px;
                        border: none !important;
                        transition: .7s;
                    }
                    button:hover{
                        background-color: black;
                    }
                }
                &__components{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    .ul-1{
                        color: #6d6a6a;
                        position: relative;
                        left: 6%;

                        li::before{
                            content: "\2022";
                            color: red;
                            font-weight: bold; 
                            font-size: 27px;
                            display: inline-block; 
                            width: 1em; 
                            margin-left: -1em;                          
                        }
                    }
                    .ul-2{
                        color: #6d6a6a;
                        position: relative;
                        left: 17%;
                        li::before{
                            content: "\2022";
                            color: red;
                            font-weight: bold; 
                            font-size: 27px;
                            display: inline-block; 
                            width: 1em; 
                            margin-left: -1em;                          
                        }
                    }
                }
            }
        }
    }
}

#customer-review{
    height: 670px;
    background-image: url(https://demo.ishithemes.com/opencart/OPC100/OPC100L02/image/catalog/testimonialbackground.png);
    .container{
        padding: 5% 0;
        text-align: center;
        .subtitle{
            letter-spacing: 10px;
            h5{
                font-size: 18px;
                color: #eb4d4b;
            }
        }
        .title{
            h2{
                font-size: 47px;
            }
        }
        .break{
            position: relative;
            left: 47%;
        }

        .reviews{
            overflow: visible;
            &__cards{
                overflow: visible !important;
                .owl-one.owl-carousel.owl-theme{
                    .cards{
                        background-color: transparent;
                        height: 300px;
                        width: 40vw;
                        padding: 4%;
                        .cards-photo{
                            width: 100px;
                            height: 100px;
                            background-color: #eb4d4b;
                            border-radius: 50%;
                            z-index: 1;
                            img{
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                            }
                        }
                        .cards-photo::after{
                            content: '';
                            display: block;
                            width: 36.7vw;
                            height: 120px;
                            background-color: white;
                            z-index: -5;
                            position: absolute;
                            top: 27%;
                        }
                        .cards-desc-name-position{
                            background-color: white;
                            padding: 5% 5% 5% 5%;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            .name{
                                font-weight: 500;
                                font-size: 25px;
                            }
                            .position{
                                color: #eb4d4b;
                            }
                        }
                    }
                    .owl-prev,.owl-next{
                        background-color: #eb4d4b;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        color: white;
                        transition: .7s;
                    }
                    .owl-prev:hover{
                        background-color: black;
                    }
                    .owl-next:hover{
                        background-color: black;
                    }
                    .owl-dots{
                        display: none;
                    }
                }
            }
        }

        .buttons{
            display: flex;
            width: 54.7%;
            justify-content: end;

            .previousBtn,.nextBtn{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #eb4d4b;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                transition: .7s;
            }
            .previousBtn:hover{
                background-color: black;
                transform: scale(0.9);
            }
            .nextBtn:hover{
                background-color: black;
                transform: scale(0.9);
            }
        }
    }
}

#fabulous-products{
    padding: 4% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .subtitle{
        letter-spacing: 10px;
        h5{
            font-size: 18px;
            color: #eb4d4b;
        }
    }
    .title{
        h2{
            font-size: 47px;
        }
    }
    .parts{
        display: flex;
        justify-content: center;
        align-items: center;
        &__featured,&__best-sellers,&__new-arrivals{
            transition: .7s;
            cursor: pointer;
        }
        &__featured:hover{
            background-color: #f3f2f2;
        }
        &__best-sellers:hover{
            background-color: #f3f2f2;
        }
        &__new-arrivals:hover{
            background-color: #f3f2f2;
        }
    }
    .container{
        .owl-carousel.owl-theme{
            .owl-prev,.owl-next{
                background-color: #eb4d4b;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                color: white;
                transition: .7s;
            }

            .owl-prev:hover{
                background-color: black;
            }
            .owl-next:hover{
                background-color: black;
            }
            .owl-dots{
                display: none;
            }
        }
    }
    
    .container{
        padding: 3% 0;
        .owl-carousel.owl-theme{
            .card-wrapper{
                width: 400px;
                .cards{
                    height: 480px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    margin: 10px;
                    margin-bottom: 15%;
                    border-radius: 10px;
                    position: relative;
                    overflow: hidden;
                    .components{
                        text-align: center;
                        .cards-price{
                            color: #eb4d4b;
                        }
                    }
                    .button-group{
                        position: absolute;
                        top: 7%;
                        right: 5%;
                        transition: .7s;
                        transform: translate(66px);
                        &__compare,&__wish-list,&__quick-view{
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: white;
                            columns: black;
                            transition: .7s;
                        }
                        &__compare:hover{
                            color: white;
                            background-color: #eb4d4b;
                        }
                        &__wish-list:hover{
                            color: white;
                            background-color: #eb4d4b;
                        }
                        &__quick-view:hover{
                            color: white;
                            background-color: #eb4d4b;
                        }
                    }
                    .addbtn{
                        position: absolute;
                        bottom: 2%;
                        transition: .7s;
                        transform: translateY(52px);
                    }
                }
            }
            .cards:hover .button-group{
                transform: translate(0px);
            }
            .cards:hover .addbtn{
                transform: translateY(0px);
            }
        }
    }
}

#FAQ{
    background-color: #f2f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 0;
    .subtitle{
        letter-spacing: 10px;
        h5{
            font-size: 17px;
            color: #eb4d4b;
        }
    }
    .title{
        h2{
            font-size: 44px;
        }
    }
    .container{
        padding: 3% 10%;
        .transition, ul li i:before, ul li i:after, p {
            transition: all 0.25s ease-in-out;
          }
          
          .flipIn, ul li, h1 {
            animation: flipdown 0.5s ease both;
          }
          
          .no-select, h2 {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
          
          h2 {
            font-size: 18px;
            line-height: 34px;
            letter-spacing: 1px;
            display: block;
            margin: 0;
            cursor: pointer;
          }
          
          p {
            color: rgba(48, 69, 92, 0.8);
            font-size: 17px;
            line-height: 26px;
            letter-spacing: 1px;
            position: relative;
            overflow: hidden;
            max-height: 800px;
            opacity: 1;
            transform: translate(0, 0);
            margin-top: 14px;
            z-index: 2;
          }
          
          ul {
            list-style: none;
            perspective: 900;
            padding: 0;
            margin: 0;
          }
          ul li {
            position: relative;
            padding: 0;
            margin: 0;
            padding-bottom: 4px;
            padding-top: 18px;
            border-top: 1px dotted #dce7eb;
          }
          ul li:nth-of-type(1) {
            animation-delay: 0.5s;
          }
          ul li:nth-of-type(2) {
            animation-delay: 0.75s;
          }
          ul li:nth-of-type(3) {
            animation-delay: 1s;
          }
          ul li:last-of-type {
            padding-bottom: 0;
          }
          ul li i {
            position: absolute;
            transform: translate(-6px, 0);
            margin-top: 16px;
            right: 0;
          }
          ul li i:before, ul li i:after {
            content: "";
            position: absolute;
            background-color: black;
            width: 3px;
            height: 9px;
          }
          ul li i:before {
            transform: translate(-2px, 0) rotate(45deg);
          }
          ul li i:after {
            transform: translate(2px, 0) rotate(-45deg);
          }
          ul li input[type=checkbox] {
            position: absolute;
            cursor: pointer;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
          }
          ul li input[type=checkbox]:checked ~ p {
            margin-top: 0;
            max-height: 0;
            opacity: 0;
            transform: translate(0, 50%);
          }
          ul li input[type=checkbox]:checked ~ i:before {
            transform: translate(2px, 0) rotate(45deg);
          }
          ul li input[type=checkbox]:checked ~ i:after {
            transform: translate(-2px, 0) rotate(-45deg);
          }
          
          @keyframes flipdown {
            0% {
              opacity: 0;
              transform-origin: top center;
              transform: rotateX(-90deg);
            }
            5% {
              opacity: 1;
            }
            80% {
              transform: rotateX(8deg);
            }
            83% {
              transform: rotateX(6deg);
            }
            92% {
              transform: rotateX(-3deg);
            }
            100% {
              transform-origin: top center;
              transform: rotateX(0deg);
            }
          }
    }
}

#otherlogos{
    .container{
        padding: 4% 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        .natural{
                .natural-img{
                    animation-name: none;
                    animation-duration: .5s;
                    animation-iteration-count: 1;
                    transform: rotateY(0deg);
                }
        }
        .smile{
            .smile-img{
                animation-name: none;
                animation-duration: .5s;
                animation-iteration-count: 1;
                transform: rotateY(0deg);
            }
        }
        .butterfly{
            .butterfly-img{
                animation-name: none;
                animation-duration: .5s;
                animation-iteration-count: 1;
                transform: rotateY(0deg);
            }
        }
        .brand{
            .brand-img{
                animation-name: none;
                animation-duration: .5s;
                animation-iteration-count: 1;
                transform: rotateY(0deg);
            }
        }
        .branding{
            .branding-img{
                animation-name: none;
                animation-duration: .5s;
                animation-iteration-count: 1;
                transform: rotateY(0deg);
            }
        }
    }
}

#contact-subscribe{
    background-color: #f2f6f9;
    padding-bottom: 5%;
    .container{
        padding: 3% 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .contact{
            &__form{
                padding: 2%;
                border: 1px solid gainsboro;
                .titles{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .subtitle{
                        letter-spacing: 10px;
                        h5{
                            font-size: 17px;
                            color: #eb4d4b;
                        }
                    }
                    .title{
                        h2{
                            font-size: 44px;
                        }
                    }
                }
                form{
                    .name,.email{
                        border-radius: 10px;
                        width: 220px;
                        height: 40px;
                        padding: 0 2%;
                        border: none;
                    }
                    .textarea{
                        border-radius: 10px;
                        padding: 0 0 0 2%;
                        border: none;
                    }
                    .sendmessagebtn{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        button{
                            border-radius: 30px;
                            height: 52px;
                            width: 140px;
                        }
                    }
                }
            }
        }
        .subscribe-newsletter{
            &__inside{
                padding: 8% 2%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border: 1px solid gainsboro;
                .subtitle{
                    letter-spacing: 10px;
                    h5{
                        font-size: 17px;
                        color: #eb4d4b;
                    }
                }
                .title{
                    h2{
                        font-size: 44px;
                    }
                }
                .icon{
                    font-size: 60px;
                }
                .info{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    p{
                        color: #6d6a6a;
                    }
                }
                form{
                    position: relative;
                    .email{
                        width: 450px;
                        border: none;
                        border-radius: 20px;
                        padding-left: 2%;
                        height: 45px;
                    }
                    .subscribebtn{
                        border-radius: 20px;
                        height: 45px;
                        width: 120px;
                        position: absolute;
                        bottom: 2%;
                        right: 0;
                    }
                }
                .icons{
                    width: 45%;
                    display: flex;
                    justify-content: space-between;
                    .icn{
                        width: 35px;
                        height: 35px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        color: white;
                        transition: .7s;
                    }
                    .icn:hover{
                        background-color: #eb4d4b;
                    }
                    .fb{
                        background-color: #3b5999;
                    }
                    .twitter{
                        background-color: #00aced;
                    }
                    .youtube,.pinterest{
                        background-color: #d12121;
                    }
                    .google{
                        background-color: #dc473b;
                    }
                    .instagram{
                        background-color: #cc2366;
                    }
                }
            }
        }
    }
    .links{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        ul{
            display: flex;
            li{
                span{
                    color: #6d6a6a;
                    margin: 0 7px 0 5px ;
                    font-weight: 100;
                }
            }
        }
    }
}

footer{
    background-color: #1e1e1e;
    .container{
        height: 58px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title{
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                a{
                    font-weight: 500;
                }
            }
        }
        .cards{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

  
@media screen and (device-width:820px) {

    #fabulous-products{
        .container{
            .card-wrapper{
                width: 90vw !important;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .cards{
                    width: 50%;
                    overflow: hidden;
                    .button-group{
                        right: 5% !important;
                        transform: translate(66px);
                    }
                }
                .cards:hover .button-group{
                    transform: translate(0px) !important;
                }
            }
        }
    }

    #contact-subscribe{
        .container{
            flex-wrap: wrap;
            .contact{
                width: 100%;
                &__form{
                    form{
                        .name,.email{
                            width: 43%;
                        }
                        .textarea{
                            width: 97%;
                        }
                    }
                }
            }
            .subscribe-newsletter{
                margin-top: 5%;
                width: 100%;
            }
        }
    }

    #otherlogos{
        .container{
            flex-wrap: wrap;
            .other-logos{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 4% 0;
                width: 100%;
            }
        }
    }

    #main-product{
        .container{
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .img{
                width: 100%;
            }
            .info{
                &__product-info{
                    padding: 7% 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                width: 100%;
            }
        }
    }

    #services{
        .container{
            flex-wrap: wrap;
            .delivery,.buying,.personal-session,.gift-voucher{
                width: 50%;
                padding: 4% 0;
            }
        }
    }

    #info-buy{
        .wrapper{
            [class*="content-wrapper"]{
                height: 45vh;
                .content{
                    h2{
                        font-size: 30px;
                    }
                    h1{
                        font-size: 55px;
                    }
                }
            }
        }
    }

    #customer-review{
        .container{
            .reviews{
                &__cards{
                    .owl-one.owl-carousel.owl-theme{
                        .cards{
                            width: 80vw;
                            .cards-photo::after{
                                content: '';
                                width: 73.5vw;
                            }
                        }
                        .owl-prev,.owl-next{
                            margin-top: 10%;
                        }
                    }
                }
            }
        }
    }
}



@keyframes headerAnimation {
    from{
        height: 0;
    }
    to{
        height: 74px;
    }
}
@keyframes mouseEnter {
    from{
        transform: rotateY(0);
    }
    to{
        transform: rotateY(360deg);
    }
}

@keyframes mouseLeave {
    from{
        transform: rotateY(360deg);
    }
    to{
        transform: rotateY(-1deg);
    }    
}
