*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 400vh;
}

@mixin anchor($color) {
    text-decoration: none;
    color: $color;
}

#header{
    z-index: 999;
    position: sticky;
    top: 0;
    display: none;
    background-color: white;
    .container{
        padding: 1% 0 0.6% 0;
        .row{
            justify-content: flex-end;
            &__nav{
                display: flex;
                justify-content: center;
                align-items: center;
                &__links{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    ul{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        padding: 0;
                        margin: 0;
                        li{
                            margin: 0 13px 0 13px;
                        }
                        a{
                            @include anchor(black);
                        }
                    }
                }
            }

            &__other-features{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 22px;
            }
        }
    }
}
#header-2{
    color: white;
    .container{
        padding: 1% 0 0.6% 0;
        .row{
            justify-content: flex-end;
            &__nav{
                display: flex;
                justify-content: center;
                align-items: center;
                &__links{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    ul{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        padding: 0;
                        margin: 0;
                        li{
                            margin: 0 13px 0 13px;
                        }
                        li:hover a{
                            color: black
                        }
                        a{
                            @include anchor(white);
                            transition: .3s;
                        }
                    }
                }
            }

            &__other-features{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 22px;
                i{
                    transition: .4s;
                }
                i:hover{
                    color: black;
                }
            }
        }
    }
}

#info-buy{
    height: 85vh;
    background-image: url(https://demo.ishithemes.com/opencart/OPC100/OPC100L02/image/cache/catalog/slider/Slider-1-1920x925.png);
    height: 98vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    .content-wrapper{
        width: 95%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .content{
            width: 40%;
            color: white;
            h2{
                font-size: 40px;
            }
            h1{
                font-size: 80px;
            }
            .btn{
                width: 125px !important;
                border-radius: 20px !important;
                font-size: 14px !important;
            }
        }
    }
}