@charset "UTF-8";
.main-collection {
  display: flex;
  background-color: white;
}

.main-register {
  display: flex;
  background-color: white;
}

.main-login {
  display: flex;
  background-color: white;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  -webkit-animation-name: headerAnimationn;
          animation-name: headerAnimationn;
  z-index: 999;
}
header .container {
  padding: 1% 0 0.6% 0;
}
header .container .row {
  justify-content: flex-end;
}
header .container .row__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .row__nav__links {
  width: 100%;
  display: flex;
  align-items: center;
}
header .container .row__nav__links ul {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
header .container .row__nav__links ul li {
  margin: 0 13px 0 13px;
}
header .container .row__nav__links ul a {
  text-decoration: none;
  color: black;
}
header .container .row__other-features {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

#collection {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#collection .image {
  width: 100%;
  height: 150px;
  background-color: aqua;
  z-index: -1;
  position: fixed;
  background-image: url(https://demo.ishithemes.com/opencart/OPC100/OPC100L02/image/catalog/breadcrumb.png);
  background-position: center;
  background-position-y: -80px;
}
#collection ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#collection ul li a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}
#collection ul li:hover a {
  color: #eb4d4b;
}

aside {
  padding-left: 7%;
  padding-bottom: 5%;
  margin-top: 30px;
  width: 25%;
}
aside #categories {
  border: 1px solid gainsboro;
}
aside #categories .title {
  padding: 4%;
  background-color: #f8f8f8;
}
aside #categories ul {
  padding: 1% 4%;
}
aside #categories ul li {
  margin-bottom: 9px;
}
aside #categories ul li a {
  text-decoration: none;
  color: black;
}
aside #refine-search {
  margin-top: 30px;
  border: 1px solid gainsboro;
}
aside #refine-search .title {
  padding: 4%;
  background-color: #f8f8f8;
}
aside #refine-search .form {
  padding: 4%;
}
aside #refine-search button {
  border-radius: 0;
  transition: 0.7s;
  border: none;
  padding: 5%;
}
aside #refine-search button:hover {
  background-color: #eb4d4b;
}
aside #best-sellers {
  margin-top: 30px;
  border: 1px solid gainsboro;
}
aside #best-sellers .title {
  padding: 4%;
  background-color: #f8f8f8;
}
aside #best-sellers .products {
  padding: 3%;
}
aside #best-sellers .products .item {
  margin-bottom: 9px;
  display: flex;
  align-items: center;
}
aside #best-sellers .products .item .name-price {
  padding: 4%;
}
aside #best-sellers .products .item .name-price .price {
  color: #eb4d4b;
}
aside #image {
  margin-top: 30px;
  position: relative;
}
aside #image .box {
  display: none;
  width: 230px;
  height: 310px;
  background-color: rgba(201, 198, 198, 0.3);
  position: absolute;
  left: 7%;
  top: 6%;
}

#contact-subscribe-collections {
  background-color: #f2f6f9;
  padding-bottom: 5%;
}
#contact-subscribe-collections .container {
  padding: 3% 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#contact-subscribe-collections .container .contact__form {
  padding: 2%;
  border: 1px solid gainsboro;
}
#contact-subscribe-collections .container .contact__form .titles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact-subscribe-collections .container .contact__form .titles .subtitle {
  letter-spacing: 10px;
}
#contact-subscribe-collections .container .contact__form .titles .subtitle h5 {
  font-size: 17px;
  color: #eb4d4b;
}
#contact-subscribe-collections .container .contact__form .titles .title h2 {
  font-size: 44px;
}
#contact-subscribe-collections .container .contact__form form .name, #contact-subscribe-collections .container .contact__form form .email {
  border-radius: 10px;
  width: 220px;
  height: 40px;
  padding: 0 2%;
  border: none;
}
#contact-subscribe-collections .container .contact__form form .textarea {
  border-radius: 10px;
  padding: 0 0 0 2%;
  border: none;
}
#contact-subscribe-collections .container .contact__form form .sendmessagebtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-subscribe-collections .container .contact__form form .sendmessagebtn button {
  border-radius: 30px;
  height: 52px;
  width: 140px;
}
#contact-subscribe-collections .container .subscribe-newsletter__inside {
  padding: 8% 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid gainsboro;
}
#contact-subscribe-collections .container .subscribe-newsletter__inside .subtitle {
  letter-spacing: 10px;
}
#contact-subscribe-collections .container .subscribe-newsletter__inside .subtitle h5 {
  font-size: 17px;
  color: #eb4d4b;
}
#contact-subscribe-collections .container .subscribe-newsletter__inside .title h2 {
  font-size: 44px;
}
#contact-subscribe-collections .container .subscribe-newsletter__inside .icon {
  font-size: 60px;
}
#contact-subscribe-collections .container .subscribe-newsletter__inside .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact-subscribe-collections .container .subscribe-newsletter__inside .info p {
  color: #6d6a6a;
}
#contact-subscribe-collections .container .subscribe-newsletter__inside form {
  position: relative;
}
#contact-subscribe-collections .container .subscribe-newsletter__inside form .email {
  width: 450px;
  border: none;
  border-radius: 20px;
  padding-left: 2%;
  height: 45px;
}
#contact-subscribe-collections .container .subscribe-newsletter__inside form .subscribebtn {
  border-radius: 20px;
  height: 45px;
  width: 120px;
  position: absolute;
  bottom: 2%;
  right: 0;
}
#contact-subscribe-collections .container .subscribe-newsletter__inside .icons {
  width: 45%;
  display: flex;
  justify-content: space-between;
}
#contact-subscribe-collections .container .subscribe-newsletter__inside .icons .icn {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  transition: 0.7s;
}
#contact-subscribe-collections .container .subscribe-newsletter__inside .icons .icn:hover {
  background-color: #eb4d4b;
}
#contact-subscribe-collections .container .subscribe-newsletter__inside .icons .fb {
  background-color: #3b5999;
}
#contact-subscribe-collections .container .subscribe-newsletter__inside .icons .twitter {
  background-color: #00aced;
}
#contact-subscribe-collections .container .subscribe-newsletter__inside .icons .youtube, #contact-subscribe-collections .container .subscribe-newsletter__inside .icons .pinterest {
  background-color: #d12121;
}
#contact-subscribe-collections .container .subscribe-newsletter__inside .icons .google {
  background-color: #dc473b;
}
#contact-subscribe-collections .container .subscribe-newsletter__inside .icons .instagram {
  background-color: #cc2366;
}
#contact-subscribe-collections .links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact-subscribe-collections .links ul {
  display: flex;
}
#contact-subscribe-collections .links ul li span {
  color: #6d6a6a;
  margin: 0 7px 0 5px;
  font-weight: 100;
}

footer {
  background-color: #1e1e1e;
}
footer .container {
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .title {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container .title span a {
  font-weight: 500;
}
footer .container .cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-products-collection {
  padding-top: 2%;
  padding-bottom: 5%;
  width: 60%;
  position: relative;
}
#main-products-collection .preheader {
  padding: 2%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main-products-collection .preheader .button-compare {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-products-collection .main-products {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-products-collection .main-products .cards {
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 10px;
  margin-bottom: 15%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
#main-products-collection .main-products .cards .components {
  text-align: center;
}
#main-products-collection .main-products .cards .components .cards-price {
  color: #eb4d4b;
}
#main-products-collection .main-products .cards .button-group {
  position: absolute;
  top: 7%;
  right: 5%;
  transition: 0.7s;
  transform: translate(66px);
}
#main-products-collection .main-products .cards .button-group__compare, #main-products-collection .main-products .cards .button-group__wish-list, #main-products-collection .main-products .cards .button-group__quick-view {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  -moz-columns: black;
       columns: black;
  transition: 0.7s;
}
#main-products-collection .main-products .cards .button-group__compare:hover {
  color: white;
  background-color: #eb4d4b;
}
#main-products-collection .main-products .cards .button-group__wish-list:hover {
  color: white;
  background-color: #eb4d4b;
}
#main-products-collection .main-products .cards .button-group__quick-view:hover {
  color: white;
  background-color: #eb4d4b;
}
#main-products-collection .main-products .cards .addbtn {
  position: absolute;
  bottom: 2%;
  transition: 0.7s;
  transform: translateY(52px);
}
#main-products-collection .cards:hover .button-group {
  transform: translate(0px);
}
#main-products-collection .cards:hover .addbtn {
  transform: translateY(0px);
}
#main-products-collection .pages {
  background-color: #f2f6f9;
  padding: 2% 18px;
  position: absolute;
  width: 100%;
  top: 22%;
}

#register-returning {
  padding-top: 2%;
  padding-left: 3%;
  padding-bottom: 5%;
  width: 63%;
  display: flex;
  justify-content: space-around;
}
#register-returning .register {
  border: 1px solid rgb(220, 218, 218);
  border-radius: 8px;
  height: 250px;
  padding: 2%;
}
#register-returning .register__title h5 {
  font-weight: bold;
}
#register-returning .register__subtitle h5 {
  font-size: 15px;
  font-weight: normal;
}
#register-returning .register__btn button {
  border: none;
  transition: 0.5s;
  border-radius: 0;
}
#register-returning .register__btn button:hover {
  background-color: #eb4d4b;
}
#register-returning .returning {
  border: 1px solid rgb(220, 218, 218);
  border-radius: 8px;
  height: 330px;
  padding: 2%;
  display: flex;
  flex-direction: column;
}
#register-returning .returning__subtitle h5 {
  font-size: 15px;
  font-weight: normal;
}
#register-returning .returning__form input {
  width: 100%;
  border: 1px solid gainsboro;
}
#register-returning .returning__form ::-webkit-input-placeholder {
  font-size: 13px;
}
#register-returning .returning__form__link {
  transform: 0.5s;
}
#register-returning .returning__form__link:hover {
  color: #eb4d4b !important;
}
#register-returning .returning__btn button {
  border: none;
  transition: 0.5s;
  border-radius: 0;
}
#register-returning .returning__btn button:hover {
  background-color: #eb4d4b;
}

#registration {
  padding-top: 2%;
  padding-left: 3%;
  padding-bottom: 5%;
  width: 63%;
}
#registration .pretitle {
  padding-top: 1%;
  background-color: #fcf8e3;
  display: flex;
  justify-content: center;
  align-items: center;
}
#registration .form .label {
  margin: 12px 0;
}
#registration .form .label i {
  font-size: 10px;
  margin-right: 5px;
  color: #eb4d4b;
}
#registration .form .input {
  width: 82.8%;
  height: 30px;
  border: 1px solid gainsboro;
}
#registration .form__privacy {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-product {
  background-color: white;
  padding: 3% 5%;
}
.main-product #main-item-info-add {
  display: flex;
  justify-content: space-evenly;
}
.main-product #main-item-info-add .main-item .image {
  width: 100%;
  height: 85vh;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-product #main-item-info-add .main-item .owl-carousel.owl-theme {
  width: 99%;
  position: relative;
}
.main-product #main-item-info-add .main-item .owl-carousel.owl-theme .item {
  background-color: white;
}
.main-product #main-item-info-add .main-item .owl-carousel.owl-theme .owl-prev, .main-product #main-item-info-add .main-item .owl-carousel.owl-theme .owl-next {
  background-color: #eb4d4b;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: white;
  transition: 0.7s;
  position: absolute;
}
.main-product #main-item-info-add .main-item .owl-carousel.owl-theme .owl-prev {
  top: 40%;
  left: 0;
}
.main-product #main-item-info-add .main-item .owl-carousel.owl-theme .owl-next {
  right: 0;
  top: 40%;
}
.main-product #main-item-info-add .main-item .owl-carousel.owl-theme .owl-prev:hover {
  background-color: black;
}
.main-product #main-item-info-add .main-item .owl-carousel.owl-theme .owl-next:hover {
  background-color: black;
}
.main-product #main-item-info-add .main-item .owl-carousel.owl-theme .owl-dots {
  display: none;
}
.main-product #main-item-info-add .main-item .slider {
  /* Accordion styles */
}
.main-product #main-item-info-add .main-item .slider .check {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.main-product #main-item-info-add .main-item .slider .row {
  display: flex;
}
.main-product #main-item-info-add .main-item .slider .row .col {
  flex: 1;
}
.main-product #main-item-info-add .main-item .slider .row .col:last-child {
  margin-left: 1em;
}
.main-product #main-item-info-add .main-item .slider .tabs {
  border-radius: 8px;
  overflow: hidden;
}
.main-product #main-item-info-add .main-item .slider .tab {
  width: 98%;
  overflow: hidden;
}
.main-product #main-item-info-add .main-item .slider .tab-label {
  border-top: 1px solid rgb(199, 194, 194);
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: white;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.main-product #main-item-info-add .main-item .slider .tab-label:hover {
  background: white;
}
.main-product #main-item-info-add .main-item .slider .tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.main-product #main-item-info-add .main-item .slider .tab-content {
  max-height: 0;
  padding: 0 1em;
  color: grey;
  font-size: 15px;
  background: white;
  transition: all 0.35s;
}
.main-product #main-item-info-add .main-item .slider .tab-content .reviews {
  border: 1px solid gainsboro;
}
.main-product #main-item-info-add .main-item .slider .tab-content .reviews .name-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  padding: 0 2%;
  height: 40px;
  color: black;
}
.main-product #main-item-info-add .main-item .slider .tab-content .reviews .name-date .name {
  width: 50%;
  border-right: 1px solid gainsboro;
}
.main-product #main-item-info-add .main-item .slider .tab-content .reviews .name-date .date {
  width: 50%;
  text-align: end;
}
.main-product #main-item-info-add .main-item .slider .tab-content .reviews .rate {
  padding: 0 2%;
}
.main-product #main-item-info-add .main-item .slider .tab-content .info {
  margin-top: 8px;
  text-align: end;
}
.main-product #main-item-info-add .main-item .slider .tab-content .writing-review {
  color: black;
}
.main-product #main-item-info-add .main-item .slider .tab-content .writing-review form i {
  color: #eb4d4b;
  font-size: 7px;
  margin-right: 5px;
}
.main-product #main-item-info-add .main-item .slider .tab-content .writing-review form .text {
  width: 99.2%;
  border: 1px solid gainsboro;
  height: 35px;
}
.main-product #main-item-info-add .main-item .slider .tab-content .writing-review form textarea {
  border: 1px solid gainsboro;
}
.main-product #main-item-info-add .main-item .slider .tab-content .writing-review form .button {
  display: flex;
  justify-content: end;
}
.main-product #main-item-info-add .main-item .slider .tab-content .writing-review form .button button {
  border-radius: 0;
  height: 40px;
}
.main-product #main-item-info-add .main-item .slider .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.main-product #main-item-info-add .main-item .slider input:checked + .tab-label {
  background: white;
}
.main-product #main-item-info-add .main-item .slider input:checked + .tab-label::after {
  transform: rotate(90deg);
}
.main-product #main-item-info-add .main-item .slider input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}
.main-product #main-item-info-add .info-add .main-process {
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
}
.main-product #main-item-info-add .info-add .main-process .share-review {
  padding: 3% 0;
  border-top: 1px solid gainsboro;
}
.main-product #main-item-info-add .info-add .main-process .share-review .like {
  height: 20px;
  font-size: 11px;
  background-color: #3b5999;
  border-radius: 3px;
  border: none;
  color: white;
}
.main-product #main-item-info-add .info-add .main-process .share-review .tweet {
  height: 20px;
  font-size: 11px;
  background-color: #00aced;
  border-radius: 3px;
  border: none;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 2%;
}
.main-product #main-item-info-add .info-add .main-process .share-review select {
  position: relative;
  right: 7px;
  height: 20px;
  font-size: 11px;
  background-color: #fe6d4c;
  border: none;
  outline: 0;
  color: white;
}
.main-product #main-item-info-add .info-add .main-process .share-review select option {
  border: none;
  background-color: white;
  color: black;
}
.main-product #main-item-info-add .info-add .main-process .share-review .review-part a {
  text-decoration: none;
  color: rgb(104, 103, 103);
}
.main-product #main-item-info-add .info-add .main-process .addtocard {
  border-top: 1px solid gainsboro;
  padding: 3% 0;
}
.main-product #main-item-info-add .info-add .main-process .addtocard input {
  height: 45px;
}
.main-product #main-item-info-add .info-add .main-process .item-info {
  padding: 3% 0;
  border-top: 1px solid gainsboro;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.main-product #main-item-info-add .info-add .main-process .item-info .cards {
  border: 1px solid gainsboro;
  padding: 1%;
  width: 45%;
}
.main-product #main-item-info-add .info-add .main-process .item-info .cards .title {
  text-align: center;
  background-color: #f2f6f9;
}
.main-product #main-item-info-add .info-add .main-process .item-info .cards .desc {
  text-align: center;
}

#other-products {
  background-color: white;
  padding: 3% 6% 3% 6%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#other-products .subtitle {
  letter-spacing: 10px;
}
#other-products .subtitle h5 {
  font-size: 18px;
  color: #eb4d4b;
}
#other-products .title h2 {
  font-size: 47px;
}
#other-products .cards {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 10px;
  margin-bottom: 15%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
#other-products .cards .components {
  text-align: center;
}
#other-products .cards .components .cards-price {
  color: #eb4d4b;
}
#other-products .cards .button-group {
  position: absolute;
  top: 10%;
  right: 5%;
  transition: 0.7s;
  transform: translate(66px);
}
#other-products .cards .button-group__compare, #other-products .cards .button-group__wish-list, #other-products .cards .button-group__quick-view {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  -moz-columns: black;
       columns: black;
  transition: 0.7s;
}
#other-products .cards .button-group__compare:hover {
  color: white;
  background-color: #eb4d4b;
}
#other-products .cards .button-group__wish-list:hover {
  color: white;
  background-color: #eb4d4b;
}
#other-products .cards .button-group__quick-view:hover {
  color: white;
  background-color: #eb4d4b;
}
#other-products .cards .addbtn {
  position: absolute;
  bottom: 2%;
  transition: 0.7s;
  transform: translateY(52px);
}
#other-products .owl-prev, #other-products .owl-next {
  background-color: #eb4d4b;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: white;
  transition: 0.7s;
}
#other-products .owl-prev:hover {
  background-color: black;
}
#other-products .owl-next:hover {
  background-color: black;
}
#other-products .owl-dots {
  display: none;
}
#other-products .cards:hover .button-group {
  transform: translate(0px);
}
#other-products .cards:hover .addbtn {
  transform: translateY(-20px);
}

@media screen and (device-width: 820px) {
  body {
    overflow-x: hidden;
  }
  #header {
    width: 100%;
    overflow-x: hidden;
  }
  #contact-subscribe-collections .container {
    flex-wrap: wrap;
  }
  #contact-subscribe-collections .container .contact {
    width: 100%;
  }
  #contact-subscribe-collections .container .contact__form form .name, #contact-subscribe-collections .container .contact__form form .email {
    width: 43%;
  }
  #contact-subscribe-collections .container .contact__form form .textarea {
    width: 97%;
  }
  #contact-subscribe-collections .container .subscribe-newsletter {
    margin-top: 5%;
    width: 100%;
  }
  #collection {
    overflow-x: hidden;
    width: 100%;
  }
  #collection .image {
    width: 100%;
  }
  .main-collection {
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .main-product {
    padding: 3% 2%;
  }
  .main-product #main-item-info-add {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .main-product #main-item-info-add .main-item {
    width: 50%;
  }
  .main-product #main-item-info-add .main-item .image {
    width: 100%;
    height: 45%;
  }
  .main-product #main-item-info-add .main-item .image img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
  }
  .main-product #main-item-info-add .main-item .owl-carousel.owl-theme {
    width: 100%;
  }
  .main-product #main-item-info-add .main-item .owl-carousel.owl-theme .item {
    width: 70%;
  }
  .main-product #main-item-info-add .main-item .slider .check {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .main-product #main-item-info-add .main-item .slider input:checked + .tab-label {
    background: white;
  }
  .main-product #main-item-info-add .main-item .slider input:checked + .tab-label::after {
    transform: rotate(90deg);
  }
  .main-product #main-item-info-add .main-item .slider input:checked ~ .tab-content {
    overflow-x: scroll;
    max-height: 30vh;
    padding: 1em;
  }
  .main-product #main-item-info-add .info-add {
    width: 41.6666666667%;
  }
  .main-product #main-item-info-add .info-add .main-process .item-info .cards {
    width: 100%;
    margin-bottom: 25px;
  }
  .main-register {
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .main-register #registration {
    padding-left: 7%;
    width: 98%;
  }
  .main-register #registration label {
    display: flex;
    flex-wrap: wrap;
  }
  .main-register #registration .input {
    width: 100%;
  }
  #other-products {
    padding: 25% 6% 3% 6%;
  }
  .main-login {
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .main-login #register-returning {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .main-login #register-returning .register {
    width: 40%;
  }
  .main-login #register-returning .returning {
    width: 45%;
  }
  #main-products-collection {
    width: 91%;
  }
  #main-products-collection .pages {
    top: 77%;
    width: 100%;
  }
  aside {
    width: 97%;
    margin-top: 0px;
  }
  aside #categories {
    width: 100%;
  }
  aside #image {
    left: 30%;
  }
  aside #refine-search button {
    padding: 2.1%;
  }
}
@media screen and (device-width: 390px) {
  body {
    overflow-x: hidden;
  }
  header {
    width: 100%;
    overflow-x: hidden;
  }
  footer {
    height: 85px;
  }
  footer .container {
    flex-wrap: wrap;
  }
  footer .container .title {
    padding-top: 3%;
    width: 100% !important;
    padding-bottom: 3%;
  }
  footer .container .cards {
    width: 100% !important;
  }
  #contact-subscribe-collections .container {
    flex-wrap: wrap;
  }
  #contact-subscribe-collections .container .contact {
    width: 93%;
  }
  #contact-subscribe-collections .container .contact__form form .name {
    margin: 0 !important;
    width: 97%;
  }
  #contact-subscribe-collections .container .contact__form form .email {
    margin-left: 0 !important;
    margin-top: 5%;
    width: 97%;
  }
  #contact-subscribe-collections .container .contact__form form .textarea {
    width: 97%;
  }
  #contact-subscribe-collections .container .subscribe-newsletter {
    margin-top: 5%;
    width: 93%;
  }
  #contact-subscribe-collections .container .subscribe-newsletter__inside form .email {
    width: 350px;
  }
  #contact-subscribe-collections .container .subscribe-newsletter__inside form .subscribebtn {
    right: 1%;
  }
  #contact-subscribe-collections .container .subscribe-newsletter__inside .icons {
    width: 79%;
  }
  #contact-subscribe-collections .links ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  #collection {
    overflow-x: hidden;
    width: 100%;
  }
  #collection .image {
    width: 100%;
  }
  .main-collection {
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .main-product {
    padding: 3% 2%;
  }
  .main-product #main-item-info-add {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .main-product #main-item-info-add .main-item {
    width: 100%;
  }
  .main-product #main-item-info-add .main-item .image {
    width: 100%;
    height: 45%;
  }
  .main-product #main-item-info-add .main-item .image img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
  }
  .main-product #main-item-info-add .main-item .owl-carousel.owl-theme {
    width: 100%;
  }
  .main-product #main-item-info-add .main-item .owl-carousel.owl-theme .item {
    width: 100%;
  }
  .main-product #main-item-info-add .main-item .slider .check {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .main-product #main-item-info-add .main-item .slider input:checked + .tab-label {
    background: white;
  }
  .main-product #main-item-info-add .main-item .slider input:checked + .tab-label::after {
    transform: rotate(90deg);
  }
  .main-product #main-item-info-add .main-item .slider input:checked ~ .tab-content {
    overflow-x: scroll;
    max-height: 30vh;
    padding: 1em;
  }
  .main-product #main-item-info-add .info-add {
    padding-top: 58%;
    width: 90%;
  }
  .main-product #main-item-info-add .info-add .main-process .item-info .cards {
    width: 100%;
    margin-bottom: 25px;
  }
  .main-register {
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .main-register #registration {
    padding-left: 7%;
    width: 98%;
  }
  .main-register #registration label {
    display: flex;
    flex-wrap: wrap;
  }
  .main-register #registration .input {
    width: 100%;
  }
  #other-products {
    padding: 3% 6% 3% 6%;
  }
  #other-products .title h2 {
    font-size: 44px;
  }
  #other-products .owl-carousel.owl-theme {
    margin: 0 !important;
  }
  #other-products .owl-carousel.owl-theme .cards .button-group {
    top: 30%;
  }
  #other-products .owl-carousel.owl-theme .cards .button-group__compare, #other-products .owl-carousel.owl-theme .cards .button-group__wish-list, #other-products .owl-carousel.owl-theme .cards .button-group__quick-view {
    width: 20px;
    height: 20px;
    font-size: 15px;
  }
  .main-login {
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .main-login #register-returning {
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
  .main-login #register-returning .register {
    width: 90%;
    margin-bottom: 25px;
  }
  .main-login #register-returning .returning {
    width: 90%;
  }
  #main-products-collection {
    width: 98%;
    padding-left: 0 !important;
    margin-left: 0 !important;
  }
  #main-products-collection .preheader {
    width: 100%;
    height: 100px;
  }
  #main-products-collection .pages {
    left: 6%;
    top: 93%;
    width: 93%;
  }
  #main-products-collection .main-products {
    flex-wrap: wrap;
  }
  #main-products-collection .main-products .cards {
    width: 40%;
    height: 300px;
  }
  #main-products-collection .main-products .cards .button-group {
    top: 19%;
    transform: translate(0);
  }
  #main-products-collection .main-products .cards .button-group__compare, #main-products-collection .main-products .cards .button-group__wish-list, #main-products-collection .main-products .cards .button-group__quick-view {
    width: 20px;
    height: 20px;
    font-size: 15px;
  }
  #main-products-collection .main-products .cards .addbtn {
    transform: translateY(0);
    width: 50%;
    height: 30px;
  }
  aside {
    width: 97%;
    margin-top: 0px;
  }
  aside #categories {
    width: 100%;
  }
  aside #image {
    left: 10%;
  }
  aside #refine-search button {
    padding: 2.1%;
  }
}
@-webkit-keyframes headerAnimationn {
  from {
    height: 0;
  }
  to {
    height: 74px;
  }
}
@keyframes headerAnimationn {
  from {
    height: 0;
  }
  to {
    height: 74px;
  }
}/*# sourceMappingURL=collection.css.map */